{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
</head>
<body>
    <div class="login">
        <h1 style="color: black;">Forgot Credential?</h1>
        <form action="/reset_credential" method="GET">
            <button type="submit" name="reset">Reset</button>
        </form>
    </div>

    <div class="form-container">
        <form action="/login" id="loginForm" method="POST" onsubmit="handleLoginForm(event)">
            <div class="input-cnt">
                <i class="material-icons">person</i>
                <input type="text" placeholder="Email or username" name="username" required/>
            </div>
            <div class="input-cnt">
                <i class="material-icons">lock</i>
                <input type="password" placeholder="Password" name="password" required/>
            </div>
            <div class="input-cnt">
                <input type="submit" value="Login" />
            </div>
            <div id="error-message" style="color: red; display: none;">Login failed. Please try again.</div>
        </form>
    </div>

    <script>
        function handleLoginForm(event) {
            event.preventDefault(); // Prevents the default form submission behavior
            fetch('/login_endpoint', {
                method: 'POST',
                body: new FormData(document.getElementById('loginForm')), // Collects form data
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Login failed');
                }
                return response.json();
            })
            .then(result => {
                const accessToken = result.access_token;
                localStorage.setItem('token', accessToken);
                if (accessToken) {
                    window.location.href = '/post';
                } else {
                    console.error('Access token not found!');
                }
                fetchDataWithToken(accessToken);
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('error-message').style.display = 'block';
            });
        }
    </script>
</body>
</html>
{% endblock %}
